<section class="main-content">
  <div class="container">
    <h2 class="page-title">Profile Page</h2>
    <div class="card">
      <div class="card-body p-lg">
       <div class="row">
         <div class="col-sm-4 profile-image text-center">
          <img src="https://opennebula.org/wp-content/uploads/2017/01/placeholder.jpg" height="200" alt="" class="rounded-circle">
          <br>
          <small class="text-dimmed">Click on image to change</small>
          <br>
          <h5 class="primary-header mt-3 mb-3">
            Jonathan Malls <br>
            <small class="text-muted">08012345678</small>
          </h5>
          <%= link_to edit_profile_path(1), class: "btn btn-danger" do %>
            <span class="fa fa-user"></span> Edit Profile
          <% end %>
         </div>
         <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="primary-header">Personal Information</h5>
              <table class="table profile-content">
                <tbody>
                  <tr>
                    <td>Staff ID</td>
                    <td>123456</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>Jonathan Malls</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>Jonathan.malls@yahoo.com</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>08012345678</td>
                  </tr>
                  <tr>
                    <td>Age</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>Male</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>2790 Ingram Street</td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td>Oyo</td>
                  </tr>
                  <tr>
                    <td>Nationality</td>
                    <td>Nigeria</td>
                  </tr>
                  <tr>
                    <td>Designation</td>
                    <td>Public Relations</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <h5 class="primary-header">Bank Details</h5>
              <table class="table profile-content">
                <tbody>
                  <tr>
                    <td>Account Name</td>
                    <td>Jonathan Malls</td>
                  </tr>
                  <tr>
                    <td>Account No</td>
                    <td>0123456789</td>
                  </tr>
                  <tr>
                    <td>Bank</td>
                    <td>First Bank</td>
                  </tr>
                  <tr>
                    <td>Sort Code</td>
                    <td>45678123</td>
                  </tr>
                </tbody>
              </table>


              <h5 class="primary-header">Next of Kin</h5>
              <table class="table profile-content">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>Jamiere Lannister</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>Jamiere@yahoo.com</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>08012345678</td>
                  </tr>
                  <tr>
                    <td>Relationship</td>
                    <td>Brother</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

       <div class="row">
        <div class="col-sm-6">
          <h5 class="primary-header">Guarantor 1</h5>
          <table class="table profile-content">
            <tbody>
              <tr>
                <td>Name</td>
                <td>Jamiere Lannister</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>Jamiere@yahoo.com</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>08012345678</td>
              </tr>
              <tr>
                <td>Relationship</td>
                <td>Brother</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <h5 class="primary-header">Guarantor 2</h5>
          <table class="table profile-content">
            <tbody>
              <tr>
                <td>Name</td>
                <td>Jamiere Lannister</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>Jamiere@yahoo.com</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>08012345678</td>
              </tr>
              <tr>
                <td>Relationship</td>
                <td>Brother</td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>
