<section class="main-content">
  <div class="container">
    <h2 class="page-title">All Users</h2>
    <div class="card">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" style="width: 10%">#</th>
            <th style="width: 20%">Name</th>
            <th style="width: 15%">Registered Date</th>
            <th class="text-center" style="width: 15%">Current Loan</th>
            <th style="width: 15%">Last Contributions</th>
            <th class="text-center" style="width: 15%">Last Loan</th>
            <th class="text-center" style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>Haruna Popoola</td>
            <td>12-07-2017</td>
            <td class="text-center">Savings</td>
            <td class="text-center">150,000</td>
            <td class="text-center">12-07-2017</td>
            <td>
              <button type="button" class="btn btn-outline-info btn-round" data-toggle="tooltip" data-placement="top" title="View Details"><span class="fa fa-external-link-square"></span></button>
            </td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td>Haruna Popoola</td>
            <td>12-07-2017</td>
            <td class="text-center">Savings</td>
            <td class="text-center">150,000</td>
            <td class="text-center">12-07-2017</td>
            <td>
              <button type="button" class="btn btn-outline-info btn-round" data-toggle="tooltip" data-placement="top" title="View Details"><span class="fa fa-external-link-square"></span></button>
            </td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td>Haruna Popoola</td>
            <td>12-07-2017</td>
            <td class="text-center">Savings</td>
            <td class="text-center">150,000</td>
            <td class="text-center">12-07-2017</td>
            <td>
              <button type="button" class="btn btn-outline-info btn-round" data-toggle="tooltip" data-placement="top" title="View Details"><span class="fa fa-external-link-square"></span></button>
            </td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td>Haruna Popoola</td>
            <td>12-07-2017</td>
            <td class="text-center">Savings</td>
            <td class="text-center">150,000</td>
            <td class="text-center">12-07-2017</td>
            <td>
              <button type="button" class="btn btn-outline-info btn-round" data-toggle="tooltip" data-placement="top" title="View Details"><span class="fa fa-external-link-square"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>

