<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="page-title">Loan Details</h2>      
        <section class="card card-money">
          <div class="card-body">
            <div class="card-gray">
              <h2>&#8358; 150, 0000</h2>
              <p>Status: Approved </p>
            </div>
                            
            <table class="table money-content">
              <tbody>
                <tr>
                  <td class="transparent-header" colspan="2"><h5>Loan Summary</h5></td>
                </tr>
                <tr>
                  <td>Loan Type</td>
                  <td class="text-right"><strong>Savings</strong></td>
                </tr>
                <tr>
                  <td>Expected amount</td>
                  <td class="text-right"><strong>&#8358; 165,000</strong></td>
                </tr>
                <tr>
                  <td>Amount Paid</td>
                  <td class="text-right"><strong>&#8358; 100,000</strong></td>
                </tr>
                <tr>
                  <td>Remaining Payment</td>
                  <td class="text-right">&#8358; 65,000</td>
                </tr>
                <tr>
                  <td>Finished Payment</td>
                  <td class="text-right">No</td>
                </tr>
                <tr>
                  <td>Remaining Payment</td>
                  <td class="text-right">&#8358; 65,000</td>
                </tr>
                <tr>
                  <td class="transparent-header" colspan="2"><h5>Deduction Summary</h5></td>
                </tr>
                <tr>
                  <td>Monthly Deduction</td>
                  <td class="text-right">&#8358; 25, 000</td>
                </tr>
                <tr>
                  <td>Yearly Deduction</td>
                  <td class="text-right">None</td>
                </tr>
                <tr>
                  <td class="transparent-header" colspan="2"><h5>Guarantors</h5></td>
                </tr>
                <tr>
                  <td>Guarantor 1</td>
                  <td class="text-right">Christian Ronaldo <span class="fa fa-check text-success"></span></td>
                </tr>
                <tr>
                  <td>Guarantor 2</td>
                  <td class="text-right">J J Okocha  <span class="fa fa-close text-danger"></span></td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn-info">Edit Loan</a>
            <a href="#" class="btn btn-danger">Delete Loan</a>
          </div>
        </section>
      </div>

      <div class="col-md-6">
        <h2 class="page-title">Payment History</h2>
        <div class="card">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center" width="15%">#</th>
                <th width="55%">Date</th>
                <th class="text-center" width="30%">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-center">1</th>
                <td>12-07-2017</td>
                <td class="text-center">15,000</td>
              </tr>
              <tr>
                <th scope="row" class="text-center">2</th>
                <td>12-07-2017</td>
                <td class="text-center">15,000</td>
              </tr>
              <tr>
                <th scope="row" class="text-center">3</th>
                <td>12-07-2017</td>
                <td class="text-center">15,000</td>
              </tr>
              <tr>
                <th scope="row" class="text-center">4</th>
                <td>12-07-2017</td>
                <td class="text-center">15,000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</section>

