/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_directory .
 *= require_self
 */

@import "puffly";

* {
  box-sizing: border-box;
}

html,
body,
.login-page {
  height: 100%;
}

.flash-message {
  width: 200em;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color: black;
  background: white;
}

#puffly {
  background-color: #000 !important;
  position: absolute !important;
  padding: 20px;
  right: 2% !important;
  bottom: 80%;
  transform: translate(-50%, 0);
  font-size: 1em !important;
}
