.login-box {
  width: 100%;
  max-width: 322px;
  margin: 0 auto;
  background: #fff;
  border: solid 1px #d8e2e7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  position: relative;
}