<li class="nav-item">
  <%= link_to loans_path, class: "nav-link" do %>
    <span class="fa fa-calendar"></span> Loan Application
  <% end %>
</li>
<li class="nav-item">
  <%= link_to contributions_path, class: "nav-link" do %>
    <span class="fa fa-calendar"></span> Monthly Contribution
  <% end %>
</li>