<li class="nav-item">
  <a class="nav-link" href="#"><span class="fa fa-circle-o"></span> Loan Application</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#"><span class="fa fa-calendar"></span> Monthly Contribution</a>
</li>