<nav class="user-level-nav">
  <div class="nav-wrapper">
    <ul class="left-align hide-on-med-and-down" id="nav-mobile">
      <li class="menu-item" id="home">
          <%= link_to "Home", root_path, :target => "_self" %>
      </li>
    </ul>
  </div>
  <% if admin? %>
  <div class="admin-menu-button">
    <div class="icon-wrapper">
      <span class="icon menu-close"><i class="material-icons">close</i></span>
      <span class="icon menu-open"><i class="material-icons">settings</i></span>
    </div>
    <h5 class="admin-actions">Actions </h5>
    <ul class="admin-list">
      <li class="admin-item" id="open-criterion-modal"><a href="#">Manage Loan</a></li>
      <li class="admin-item" id="open-output-modal"><a href="#">Manage Users</a></li>
    </ul>
  </div>
  <% end %>
</nav>