        <nav class="navbar navbar-toggleable-md main-navigation">
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><span class="fa fa-home"></span> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="fa fa-circle-o"></span> Loan Application</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="fa fa-calendar"></span> Monthly Contribution</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>