<div class="modal fade" id="uploadContributionModal" tabindex="-1" role="dialog" aria-labelledby="uploadContributionsCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="upload-contribution-title">Upload Monthly Contribution(csv)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url: admin_upload_contribution_csv_path, id: 'uploadcontribution', multipart: true do |form|%>
        <div class="modal-body text-center">
          <div>
              <%= form.file_field :contributions_csv, class: 'form-control-file', id: 'contributions-csv-file', accept: '.csv' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="upload-monthly-contribution">Upload Monthly Contribution</button>
        </div>
      <% end %>
    </div>
  </div>
</div>